<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
   <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
   <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
<!--    <property name="hibernate.connection.url">jdbc:mysql://localhost/recipes2</property> -->
   <property name="hibernate.connection.url">jdbc:mysql://192.168.1.3/recipes2</property>
   <property name="hibernate.connection.username">desenv</property>
   <property name="hibernate.connection.password">desenv</property>
   <property name="hibernate.hbm2ddl.auto">update</property>
   <property name="show_sql">false</property>
   <property name="hibernate.current_session_context_class">thread</property>
   
   
   <mapping class="com.lls.receitasws.model.Recipe"/>
   <mapping class="com.lls.receitasws.model.RecipeDetail"/>
   <mapping class="com.lls.receitasws.model.Ingredient"/>
   <mapping class="com.lls.receitasws.model.IngredientDetail"/>
</session-factory>
</hibernate-configuration>